.container{
    display: flex;
    background-color: hsl(0, 0%, 6%);
    gap: 5px;
}

.container1{
    display: flex;
    background-color: hsl(0, 0%, 6%);
}


.label{
    padding: 5px;
}

.main-content{ 
    background-color: #ff0505;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 25px;

}

.sidebar {
  padding-top:10px;
  padding-right: 20px;
  padding-left:20px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: hsl(0, 76%, 62%);
  font-size: 25px;
}

.MelvinsLogo{
    display: flex;
    background-color: rgb(19, 19, 19);
    justify-content: center;
    align-items: center; 
}

a{
    color: rgb(43, 226, 83);
}

a:visited{
    color: darkgrey;
}

body{
    margin: 0px;
    background-color: hsl(0, 0%, 6%);
cursor: url(images/cursor.png), auto;
}


button:hover{
    font-size:1.1em;
    background-color: hsl(118, 40%, 60%);
}

.form{
    display: grid;
    grid-template-columns: max-content 1fr; 
    background-color: #272727;
    font-size: 20px;
    margin: auto;
    width: 500px;
    justify-content: center;
}

.input{
margin: 10px;
border-radius: 5px;
}

.label{
   margin: 10px;
}

.navbar ul{
    overflow: hidden;
    background-color: hsla(0, 100%, 4%, 0.849);
    height: 60px;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    padding-top: 15px;
    margin: auto;
}

.navbar a{
    color: rgb(121, 112, 112);
    text-decoration: none;
    font-family: RoadRage;
    margin-left: 10px;
    margin-right: 10px;
    
}


.navbar a:hover{
    display: inline-block;
    transform: rotate(5deg);  
    /* box-shadow: 0 30px 40px rgb(136, 0, 0); */
}

p::selection{
    color:green;
    background-color: darkgrey;
}

#song li::before{
    content:"🎶";
}

button:active{
    font-size:1.1em;
    background-color: hsl(0, 40%, 60%);
}

footer{
    background-color: rgb(197, 197, 197);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color:rgb(255, 255, 255);
}

footer a{
    color: tomato;
}

@font-face {
    font-family: RoadRage;
    src: url(/My-Website/docs/fonts/RoadRage-Regular.ttf);
}

.dropdown button{
    font-size:1.1em;
    background-color: hsl(0, 40%, 60%);
}
